/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    color: #95E1D3;
    
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 0 15px;
}
.menu a {
    color: #95E1D3;
    text-decoration: none;
    text-transform: uppercase;
}
